USE [master]
GO
/****** Object:  Database [QL_BANHANG]    Script Date: 11/7/2024 7:35:17 PM ******/
CREATE DATABASE [QL_BANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLBH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLBH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_BANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_BANHANG]
GO
/****** Object:  User [user1]    Script Date: 11/7/2024 7:35:17 PM ******/
CREATE USER [user1] FOR LOGIN [user1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [user_tmdt2]    Script Date: 11/7/2024 7:35:17 PM ******/
CREATE USER [user_tmdt2] FOR LOGIN [user_tmdt2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [user_QLBH]    Script Date: 11/7/2024 7:35:17 PM ******/
CREATE USER [user_QLBH] FOR LOGIN [user_QLBH] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user1]
GO
ALTER ROLE [db_owner] ADD MEMBER [user_tmdt2]
GO
ALTER ROLE [db_owner] ADD MEMBER [user_QLBH]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 11/7/2024 7:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Code] [nvarchar](200) NULL,
	[Price] [float] NULL,
	[TaiKhoanId] [int] NULL,
	[NgayTao] [datetime] NULL,
	[TaiKhoanUpdateId] [int] NULL,
	[NgayCapNhap] [datetime] NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/7/2024 7:35:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](50) NULL,
	[Lastname] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UserPassword] [varchar](255) NULL,
	[Email] [varchar](250) NULL,
	[Address] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HangHoa] ON 

INSERT [dbo].[HangHoa] ([Id], [Name], [Code], [Price], [TaiKhoanId], [NgayTao], [TaiKhoanUpdateId], [NgayCapNhap]) VALUES (1, N'1', N'1', 1, 1, CAST(N'2024-11-06T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[HangHoa] ([Id], [Name], [Code], [Price], [TaiKhoanId], [NgayTao], [TaiKhoanUpdateId], [NgayCapNhap]) VALUES (2, N'2', N'2', 2, 1, CAST(N'2024-11-06T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[HangHoa] ([Id], [Name], [Code], [Price], [TaiKhoanId], [NgayTao], [TaiKhoanUpdateId], [NgayCapNhap]) VALUES (3, N'HangHoa3', N'3', 3, 2, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[HangHoa] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([UserId], [Firstname], [Lastname], [CreatedDate], [UserPassword], [Email], [Address]) VALUES (1, N'A', N'A', CAST(N'2024-10-17T00:00:00.000' AS DateTime), N'1', N'quyen@gmail.com', NULL)
INSERT [dbo].[TaiKhoan] ([UserId], [Firstname], [Lastname], [CreatedDate], [UserPassword], [Email], [Address]) VALUES (2, N'B', N'B', CAST(N'2024-10-17T00:00:00.000' AS DateTime), N'2', NULL, NULL)
INSERT [dbo].[TaiKhoan] ([UserId], [Firstname], [Lastname], [CreatedDate], [UserPassword], [Email], [Address]) VALUES (4, N'4', N'4', CAST(N'2024-10-24T12:10:50.570' AS DateTime), N'4', N'4', N'4')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
/****** Object:  Index [UQ__TaiKhoan__3213E83E279D5859]    Script Date: 11/7/2024 7:35:17 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_TaiKhoan] FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[TaiKhoan] ([UserId])
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_TaiKhoan]
GO
USE [master]
GO
